@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

.poppins {
    font-family: "Poppins", serif;
}

.roboto {
    font-family: "Roboto", serif;
}

.underline-animation {
    position: relative;
    display: inline-block;
  }
  
  .underline-animation::after {
    content: "";
    position: absolute;
    width: 0;
    height: 2px;
    left: 0;
    bottom: 0;
    background-color: currentColor;
    transition: width 0.5s ease;
  }
  
  .underline-animation:hover::after {
    width: 100%;
  }


/* Para navegadores Webkit (Chrome, Safari, Edge) */
html::-webkit-scrollbar {
  width: 12px; /* Largura da barra de rolagem */
  height: 12px; /* Largura da barra de rolagem horizontal */
}

/* Estilo da pista da barra de rolagem */
html::-webkit-scrollbar-track {
  background: #e0e0e0; /* Cor de fundo da pista */
  border-radius: 10px;
}

/* Estilo do "thumb" da barra de rolagem (a parte arrastável) */
html::-webkit-scrollbar-thumb {
  background-color: #8c15f4; /* Cor do thumb */
  border-radius: 10px;
  border: 3px solid #e0e0e0; /* Cria um pequeno espaço ao redor do thumb */
}

/* Efeito de hover (quando o usuário passa o mouse sobre o thumb) */
html::-webkit-scrollbar-thumb:hover {
  background-color: #ae62f1; /* Muda para uma cor mais escura */
}
